html,
body {
  padding: 0;
  margin: 0;
  font-family: monospace, Roboto, Segoe UI, -apple-system, BlinkMacSystemFont, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

p {
  text-indent: 1rem;
  text-overflow: ellipsis;
}